<ul class="navbar-nav ml-auto">
  <li *ngIf="strRoleId==1">
    <div>
      <select id="inputState" class="form-control" style="background-color:#6FCDB3;color: white;" [(ngModel)]="branchId"
        #BranchSelect (change)='onOptionsSelected(BranchSelect.value)' [ngModelOptions]="{standalone: true}">
        <option [value]="0"> ทุกสาขา </option>
        <option *ngFor="let result of ddlBranch" [value]="result.branch_id">
          {{result.branch_name}}</option>
      </select>
    </div>
  </li>
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown">
        <i class="icon feather icon-bell"></i>
        <span class="badge rounded-pill badge-notification bg-danger">{{numberNotification}}</span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
          <div class="float-right">
            <a href="javascript:" class="m-r-10" (click)="onRead()">read all</a>
            <!-- <a href="javascript:">clear all</a> -->
          </div>
        </div>
        <perfect-scrollbar style="max-width: 250px; max-height: 400px;">
          <ul class="noti-body">
            <li class="n-title">
              <p class="m-b-0">{{dateNotification}}</p>
            </li>
            <li *ngFor="let item of notification" class="notification">
              <div class="media">
                <div class="media-body">
                  <p><strong>{{ item.raw_name }}</strong><span class="n-time text-muted"><i
                        class="icon feather icon-clock m-r-10"></i>{{ item.notification_time }}</span></p>
                  <p>คงเหลือ
                    <span style="color: red;padding-left: 10px;padding-right: 10px;">
                      {{ item.remaining_qty | number : '1.0-2'}}</span>
                    {{ item.uom_name }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </perfect-scrollbar>

        <!-- <div class="noti-footer">
          <a href="javascript:">show all</a>
        </div> -->
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image">
          <span>{{strFullName}}</span>
          <a href="javascript:" class="dud-logout" title="Logout">
            <i class="feather icon-log-out" (click)="onLogOut()"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
          <li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
          <li><a href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>