<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable" [options]="false">
      <!-- <div class="auth-wrapper maintenance"> -->
      <!-- <div class="container"> -->
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <h5 class="text-muted my-4">This web page is in development.</h5>
            <img src="assets/images/maintenance/maintance.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <!-- <div>
        <input type="text" class="form-control" autocomplete="off" id="inputBarcode" [(ngModel)]="barcode"
          name="Barcode" style="width: 200px;" (keyup)="keyPress()">
      </div>
      <div>
        <select id="inputState1" class="form-control" [(ngModel)]="ddlTest" name="DdlTest" style="width: 200px;">
          <option selected></option>
          <option [value]="1234">Raw1234</option>
          <option [value]="5678">Raw5678</option>
          <option [value]="9012">Raw9012</option>
          <option [value]="3456">Raw3456</option>
        </select>
      </div> -->

    </app-card>
  </div>
</div>