<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable" [options]="false">
      <div style="padding-bottom: 10px;">
        <button type="button" class="btn btn-success" data-toggle="modal"
          (click)="openModal(Template);onNewRole();" >เพิ่มกลุ่มผู้ใช้งาน</button>
      </div>
      <div class="table-responsive">
        <table *ngIf="roles" datatable="ng" datatable [dtOptions]="dtOptions" 
        [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover"
        >
          <thead>
            <tr>
              <th >#</th>
              <th >ชื่อกลุ่มผู้ใช้งาน</th>
              <th >วันที่สร้าง</th>
              <th >ผู้สร้าง</th>
              <th >วันที่แก้ไข</th>
              <th >ผู้แก้ไข</th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="roles?.length != 0">
              <tr *ngFor="let role of roles">
                  <td>{{ role.no }}</td>
                  <td>{{ role.role_name }}</td>
                  <td>{{ role.create_date }}</td>
                  <td>{{ role.create_by }}</td>
                  <td>{{ role.update_date }}</td>
                  <td>{{ role.update_by }}</td>
                  <td class="text-center">
                      <button class="btn btn-outline-primary btn-sm" data-toggle="modal"
                      (click)="editModal(Template,role)">View</button>
                      &nbsp;<button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                      (click)="deleteModal(TemplateDelete,role)">Delete</button>
                  </td>
              </tr>
          </tbody>
        </table>
    </div>
    </app-card>
  </div>
</div>

<ng-template #Template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่ม/แก้ไข กลุ่มผู้ใช้งาน</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="inputAddress">กลุ่มผู้ใช้งาน</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="กลุ่มผู้ใช้งาน" [(ngModel)]="RoleName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="SaveRole();modalRef.hide()">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    ต้องการลบกลุ่มผู้ใช้งานหรือไม่?
    <div style="margin-top:25px">
      <button type="button" class="btn btn-default" (click)="deleteRole()" (mouseover)="btnColor()"
        id="btn-yes">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" (mouseover)="btnColorNo()"
        id="btn-no">No</button>
    </div>
  </div>
</ng-template>
