<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable" [options]="false">
      <div style="padding-bottom: 10px;">
        <button type="button" class="btn btn-success" data-toggle="modal"
          (click)="openModal(Template);onNewRAW()">เพิ่มข้อมูล</button>
      </div>
      <div class="table-responsive">
        <table *ngIf="raws" datatable="ng" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered table-hover" style="width: 99%;">
          <thead>
            <tr>
              <th style="width: 10%;">#</th>
              <th style="width: 30%;">วัตถุดิบ</th>
              <th style="width: 20%;">หน่วยนับ</th>
              <th style="width: 20%;">จำนวน</th>
              <th style="width: 10%;">เปิดใช้งาน</th>
              <th style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody *ngIf="raws?.length != 0">
            <tr *ngFor="let raw of raws">
              <td>{{ raw.no }}</td>
              <td>{{ raw.name }}</td>
              <td>{{ raw.uom_name }}</td>
              <td>{{ raw.remaining_qty - 0 }}</td>
              <td *ngIf="raw.active==1;else tpl">
                <i class="fa fa-check"></i>
              </td>
              <ng-template #tpl>
                <td><i class="fa fa-times"></i></td>
              </ng-template>
              <!-- pen-square -->
              <td class="text-center">
                <button type="button" class="btn btn-icon" (click)="editModal(Template,raw);"
                  style="background-color: #00ACC1;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-pen"></i></button>
                &nbsp;
                <button type="button" class="btn btn-icon" (click)="DeleteAction(raw);"
                  style="background-color: red;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<ng-template #Template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มข้อมูลวัตถุดิบ</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #validationForm="ngForm" class="editForm" novalidate>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">รหัส/บาร์โค้ด</label>
            <input type="text" autocomplete="off" class="form-control" id="inputAddress" [(ngModel)]="Barcode"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">วัตถุดิบ</label>
            <input type="text" autocomplete="off" class="form-control" name="validation-RAW_Name"
              [ngClass]="{'is-invalid': !RAW_Name.valid && (RAW_Name.dirty || RAW_Name.touched || isSubmit)}"
              #RAW_Name="ngModel" required [(ngModel)]="formInput.RAW_Name">
            <label *ngIf="!RAW_Name.valid && (RAW_Name.dirty || RAW_Name.touched || isSubmit)"
              id="validation-RAW_Name-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกข้อมูลวัตถุดิบ</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="RAW_Name"
              [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">จำนวนคงเหลือ</label>
            <input type="text" autocomplete="off" (keypress)="numberOnly($event)" class="form-control"
              name="validation-Remaining_qty"
              [ngClass]="{'is-invalid': !Remaining_qty.valid && (Remaining_qty.dirty || Remaining_qty.touched || isSubmit)}"
              #Remaining_qty="ngModel" required [(ngModel)]="formInput.Remaining_qty">
            <label *ngIf="!Remaining_qty.valid && (Remaining_qty.dirty || Remaining_qty.touched || isSubmit)"
              id="validation-Remaining_qty-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวนคงเหลือ</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Remaining_qty"
              [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ</label>
            <select class="form-control" name="validation-UOM_ID"
              [ngClass]="{'is-invalid': !UOM_ID.valid && (UOM_ID.dirty || UOM_ID.touched || isSubmit)}"
              #UOM_ID="ngModel" required [(ngModel)]="formInput.UOM_ID">
              <option selected></option>
              <option *ngFor="let result1 of ddlUOMs" [value]="result1.uom_id">
                {{result1.uom_name}}</option>
            </select>
            <label *ngIf="!UOM_ID.valid && (UOM_ID.dirty || UOM_ID.touched || isSubmit)" id="validation-UOM_ID-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณาเลือกหน่วยนับ</label>

            <!-- <select id="inputState1" class="form-control" [(ngModel)]="UOM_ID" [ngModelOptions]="{standalone: true}">
              <option selected></option>
              <option *ngFor="let result1 of ddlUOMs" [value]="result1.uom_id">
                {{result1.uom_name}}</option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <div class="switch switch-primary d-inline m-r-10">
              <input type="checkbox" id="switch-p-1" [checked]="RAW_Active" name="chkActive"
                (change)="RAW_Active = !RAW_Active">
              <label for="switch-p-1" class="cr"></label>
            </div>
            <label>เปิดใช้งาน</label>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="SaveRAW(validationForm)">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>