<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable" [options]="false">
      <div style="padding-bottom: 10px;">
        <button type="button" class="btn btn-success" data-toggle="modal"
          (click)="openModal(Template);onNewRAW()">เพิ่มข้อมูล</button>
        &nbsp;<button type="button" class="btn btn-info" data-toggle="modal"
          (click)="openModalImport(TemplateImport);onNewRAW()">Import Data</button>
      </div>
      <div class="table-responsive">
        <table *ngIf="raws" datatable="ng" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered table-hover" style="width: 99%;">
          <thead>
            <tr>
              <th style="width: 8%;">#</th>
              <th style="width: 15%;">Barcode</th>
              <th style="width: 15%;">หมวดหมู่</th>
              <th style="width: 22%;">วัตถุดิบ</th>
              <th style="width: 10%;">หน่วยนับ</th>
              <th style="width: 8%;">จำนวน</th>
              <th style="width: 8%;">เปิดใช้งาน</th>
              <th style="width: 14%;"></th>
            </tr>
          </thead>
          <tbody *ngIf="raws?.length != 0">
            <tr *ngFor="let raw of raws">
              <td>{{ raw.no }}</td>
              <td>{{ raw.barcode }}</td>
              <td>{{ raw.group_name }}</td>
              <td>{{ raw.name }}</td>
              <td>{{ raw.uom_name }}</td>
              <td>{{ raw.remaining_qty - 0 | number : '1.0-2'}}</td>
              <td *ngIf="raw.active==1;else tpl">
                <i class="fa fa-check"></i>
              </td>
              <ng-template #tpl>
                <td><i class="fa fa-times"></i></td>
              </ng-template>
              <!-- pen-square -->
              <td class="text-center">
                <button type="button" class="btn btn-icon" (click)="editModal(Template,raw);"
                  style="background-color: #00ACC1;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-pen"></i></button>
                &nbsp;
                <button type="button" class="btn btn-icon" (click)="DeleteAction(raw);"
                  style="background-color: red;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-trash"></i></button>
                &nbsp;
                <button type="button" class="btn btn-icon" (click)="viewUOMTModal(TemplateViewUOMT,raw);"
                  style="background-color: #00ACC1;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-redo-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<ng-template #Template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มข้อมูลวัตถุดิบ</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #validationForm="ngForm" class="editForm" novalidate>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="inputAddress">รหัส/บาร์โค้ด</label>
            <input type="text" autocomplete="off" class="form-control" id="inputAddress" [(ngModel)]="Barcode"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">วัตถุดิบ</label>
            <input type="text" autocomplete="off" class="form-control" name="validation-RAW_Name"
              [ngClass]="{'is-invalid': !RAW_Name.valid && (RAW_Name.dirty || RAW_Name.touched || isSubmit)}"
              #RAW_Name="ngModel" required [(ngModel)]="formInput.RAW_Name">
            <label *ngIf="!RAW_Name.valid && (RAW_Name.dirty || RAW_Name.touched || isSubmit)"
              id="validation-RAW_Name-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกข้อมูลวัตถุดิบ</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="RAW_Name"
              [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="inputAddress">หมวดหมู่</label>
            <select class="form-control" name="validation-Raw_Group"
              [ngClass]="{'is-invalid': !Raw_Group.valid && (Raw_Group.dirty || Raw_Group.touched || isSubmit)}"
              #Raw_Group="ngModel" required [(ngModel)]="formInput.Raw_Group">
              <option selected></option>
              <option *ngFor="let result1 of ddlGroups" [value]="result1.group_id">
                {{result1.group_name}}</option>
            </select>
            <label *ngIf="!Raw_Group.valid && (Raw_Group.dirty || Raw_Group.touched || isSubmit)"
              id="validation-Raw_Group-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณาเลือกหมวดหมู่</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="inputAddress">จำนวนคงเหลือ</label>
            <input type="text" autocomplete="off" (keypress)="numberOnly($event)" class="form-control"
              name="validation-Remaining_qty"
              [ngClass]="{'is-invalid': !Remaining_qty.valid && (Remaining_qty.dirty || Remaining_qty.touched || isSubmit)}"
              #Remaining_qty="ngModel" required [(ngModel)]="formInput.Remaining_qty">
            <label *ngIf="!Remaining_qty.valid && (Remaining_qty.dirty || Remaining_qty.touched || isSubmit)"
              id="validation-Remaining_qty-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวนคงเหลือ</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Remaining_qty"
              [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ</label>
            <select class="form-control" name="validation-UOM_ID"
              [ngClass]="{'is-invalid': !UOM_ID.valid && (UOM_ID.dirty || UOM_ID.touched || isSubmit)}"
              #UOM_ID="ngModel" required [(ngModel)]="formInput.UOM_ID">
              <option selected></option>
              <option *ngFor="let result1 of ddlUOMs" [value]="result1.uom_id">
                {{result1.uom_name}}</option>
            </select>
            <label *ngIf="!UOM_ID.valid && (UOM_ID.dirty || UOM_ID.touched || isSubmit)" id="validation-UOM_ID-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณาเลือกหน่วยนับ</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="inputAddress">Min Stock</label>
            <input type="text" autocomplete="off" (keypress)="numberOnly($event)" class="form-control"
              name="validation-Min_stock"
              [ngClass]="{'is-invalid': !Min_stock.valid && (Min_stock.dirty || Min_stock.touched || isSubmit)}"
              #Min_stock="ngModel" required [(ngModel)]="formInput.Min_stock">
            <label *ngIf="!Min_stock.valid && (Min_stock.dirty || Min_stock.touched || isSubmit)"
              id="validation-Min_stock-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวน Min Stock</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Remaining_qty"
                      [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="inputAddress">Max Stock</label>
            <input type="text" autocomplete="off" (keypress)="numberOnly($event)" class="form-control"
              name="validation-Max_stock"
              [ngClass]="{'is-invalid': !Max_stock.valid && (Max_stock.dirty || Max_stock.touched || isSubmit)}"
              #Max_stock="ngModel" required [(ngModel)]="formInput.Max_stock">
            <label *ngIf="!Max_stock.valid && (Max_stock.dirty || Max_stock.touched || isSubmit)"
              id="validation-Max_stock-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวน Max Stock</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Remaining_qty"
                      [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="inputAddress">ราคาต่อหน่วย</label>
        </div>
        <div class="col-9">
          <label for="inputAddress">% Loss</label>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <input type="text" autocomplete="off" (keypress)="numberOnly($event)" class="form-control"
              name="validation-Price"
              [ngClass]="{'is-invalid': !Price.valid && (Price.dirty || Price.touched || isSubmit)}" #Price="ngModel"
              required [(ngModel)]="formInput.Price">
            <label *ngIf="!Price.valid && (Price.dirty || Price.touched || isSubmit)" id="validation-Price-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวนคงเหลือ</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="price"
                      [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <input type="text" autocomplete="off" (keypress)="numberOnly($event)" class="form-control"
              name="validation-Percent_Loss"
              [ngClass]="{'is-invalid': !Percent_Loss.valid && (Percent_Loss.dirty || Percent_Loss.touched || isSubmit)}"
              #Percent_Loss="ngModel" required [(ngModel)]="formInput.Percent_Loss">
            <label *ngIf="!Percent_Loss.valid && (Percent_Loss.dirty || Percent_Loss.touched || isSubmit)"
              id="validation-Percent_Loss-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอก % Loss ถ้าไม่มีให้กรอก
              0</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="price"
                              [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <div class="switch switch-primary d-inline m-r-10">
              <input type="checkbox" id="switch-p-1" [checked]="RAW_Active" name="chkActive"
                (change)="RAW_Active = !RAW_Active">
              <label for="switch-p-1" class="cr"></label>
            </div>
            <label>เปิดใช้งาน</label>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="SaveRAW(validationForm)">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateImport>
  <div class="modal-header">
    <h4 class="modal-title pull-left">วัตถุดิบ (Import Data)</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-16">
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
      </div>
      <div class="row" *ngIf="items?.length != 0">
        <div class="col-12" style="text-align: right;">
          <label>ข้อมูลทั้งหมด {{linecount}} รายการ</label>&nbsp;&nbsp;
        </div>
        <div class="col-12">
          <div class="form-group">
            <table class="table table-striped table-bordered table-hover" style="width: 100%;" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th style="width:15%;padding: 5px;">รหัสบาร์โค้ด</th>
                  <th style="width:20%;padding: 5px;">วัตถุดิบ</th>
                  <th style="width:15%;padding: 5px;">หน่วยใช้</th>
                  <th style="width:10%;padding: 5px;">จำนวนที่ซื้อ</th>
                  <th style="width:10%;padding: 5px;">หมวดหมู่</th>
                  <th style="width:10%;padding: 5px;">Min Stock</th>
                  <th style="width:10%;padding: 5px;">Max Stock</th>
                  <th style="width:10%;padding: 5px;">ราคาต่อหน่วย</th>
                  <th style="width:10%;padding: 5px;">% Loss</th>
                  <th style="width:10%;padding: 5px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items; let i = index">
                  <td style="padding: 3px;text-align: center;">{{item.barcode}}</td>
                  <td style="padding: 3px;text-align: left;">{{item.rawname}}</td>
                  <td style="padding: 3px;text-align: center;">{{item.uomname}}</td>
                  <td style="padding: 3px;text-align: center;">{{item.quantity-0 | number : '1.0-2'}}</td>
                  <td style="padding: 3px;text-align: center;">{{item.groupname}}</td>
                  <td style="padding: 3px;text-align: center;">{{item.minstock | number : '1.0-2'}}</td>
                  <td style="padding: 3px;text-align: center;">{{item.maxstock | number : '1.0-2'}}</td>
                  <td style="padding: 3px;text-align: center;">{{item.price | number : '1.2-2' }}</td>
                  <td style="padding: 3px;text-align: center;">{{item.percent_loss | number : '1.0-2'}}</td>
                  <td style="padding: 3px;text-align: center;">
                    <button type="button" class="btn btn-icon" (click)="removeItem(i)"
                      style="background-color: red;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                      <i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="text-right">
        <br>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="SaveImportAction();modalRef.hide()">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateViewUOMT>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เทียบปริมาตรต่อ 1 {{UOM_Name}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <button type="button" class="btn btn-success" data-toggle="modal"
              (click)="modalRef.hide();addUOMTModal(TemplateTransfer);">เพิ่มข้อมูล</button>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <div class="table-responsive">
              <table *ngIf="ddlROUMT" class="table table-striped table-bordered table-hover" style="width: 99%;">
                <thead>
                  <tr>
                    <th style="width: 40%;">หน่วยนับ</th>
                    <th style="width: 40%;">จำนวน</th>
                    <th style="width: 20%;"></th>
                  </tr>
                </thead>
                <tbody *ngIf="uomts?.length != 0">
                  <tr *ngFor="let Group of ddlROUMT">
                    <td class="text-center">{{ Group.name2 }}</td>
                    <td class="text-center">{{ Group.quantity2 }}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-icon"
                        (click)="modalRef.hide();editUOMTModal(TemplateTransfer,Group);"
                        style="background-color: #00ACC1;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                        <i class="fa fa-pen"></i></button>
                      &nbsp;
                      <button type="button" class="btn btn-icon" (click)="modalRef.hide();DeleteUOMT(Group);"
                        style="background-color: red;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                        <i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateTransfer>
  <div class="modal-header">
    <h4 class="modal-title pull-left">แปลงหน่วยนับ</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #validationForm2="ngForm" class="editForm" novalidate>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ 1</label>
            <select class="form-control" name="validation-UOMID_1"
              [ngClass]="{'is-invalid': !UOMID_1.valid && (UOMID_1.dirty || UOMID_1.touched || isSubmit2)}"
              #UOMID_1="ngModel" required [(ngModel)]="formInput2.UOMID_1">
              <option selected></option>
              <option *ngFor="let result of ddlUOMs" [value]="result.uom_id"
                [selected]="formInput2.UOMID_1 == result.uom_id ? 'selected' :'' ">
                {{result.uom_name}}</option>
            </select>
            <label *ngIf="!UOMID_1.valid && (UOMID_1.dirty || UOMID_1.touched || isSubmit2)"
              id="validation-UOMID_1-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณาเลือกหน่วยนับ 1</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">จำนวน</label>
            <input type="text" autocomplete="off" class="form-control" name="validation-Quantity_1"
              [ngClass]="{'is-invalid': !Quantity_1.valid && (Quantity_1.dirty || Quantity_1.touched || isSubmit2)}"
              #Quantity_1="ngModel" required [(ngModel)]="formInput2.Quantity_1">
            <label *ngIf="!Quantity_1.valid && (Quantity_1.dirty || Quantity_1.touched || isSubmit2)"
              id="validation-Quantity_1-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวน</label>

            <!-- <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Quantity_1"
              [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ 2</label>
            <select class="form-control" name="validation-UOMID_2"
              [ngClass]="{'is-invalid': !UOMID_2.valid && (UOMID_2.dirty || UOMID_2.touched || isSubmit2)}"
              #UOMID_2="ngModel" required [(ngModel)]="formInput2.UOMID_2">
              <option selected></option>
              <option *ngFor="let result1 of ddlUOMs" [value]="result1.uom_id">
                {{result1.uom_name}}</option>
            </select>
            <label *ngIf="!UOMID_2.valid && (UOMID_2.dirty || UOMID_2.touched || isSubmit2)"
              id="validation-UOMID_2-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณาเลือกหน่วยนับ 2</label>

            <!-- <select id="inputState1" class="form-control" [(ngModel)]="UOMID_2" [ngModelOptions]="{standalone: true}">
              <option selected></option>
              <option *ngFor="let result1 of ddlUOMs" [value]="result1.uom_id">
                {{result1.uom_name}}</option>
            </select> -->
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">จำนวน</label>
            <input type="text" autocomplete="off" class="form-control" name="validation-Quantity_2"
              [ngClass]="{'is-invalid': !Quantity_2.valid && (Quantity_2.dirty || Quantity_2.touched || isSubmit2)}"
              #Quantity_2="ngModel" required [(ngModel)]="formInput2.Quantity_2">
            <label *ngIf="!Quantity_2.valid && (Quantity_2.dirty || Quantity_2.touched || isSubmit2)"
              id="validation-Quantity_2-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกจำนวน</label>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="SaveUOMT(validationForm2);">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>