<div class="row">
  <div class="col-sm-12" *ngIf="RoleId == 1;else tpl">
    <app-card [hidHeader]="true" cardClass="card-datatable" [options]="false">
      <div style="padding-bottom: 10px;">
        <button type="button" class="btn btn-success" data-toggle="modal"
          (click)="openModal(Template);onNewBranch();">เพิ่มสาขา</button>
      </div>
      <div class="table-responsive">
        <table *ngIf="branchs" datatable="ng" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered table-hover" style="width: 99%;">
          <thead>
            <tr>
              <th style="width: 10%;">#</th>
              <th style="width: 70%;">ชื่อสาขา</th>
              <th style="width: 10%;">เปิดใช้บริการ</th>
              <th style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody *ngIf="branchs?.length != 0">
            <tr *ngFor="let branch of branchs">
              <td>{{ branch.no }}</td>
              <td>{{ branch.name }}</td>
              <td *ngIf="branch.active==1;else tpl">
                <i class="fa fa-check"></i>
              </td>
              <ng-template #tpl>
                <td><i class="fa fa-times"></i></td>
              </ng-template>
              <!-- pen-square -->
              <td class="text-center">
                <button type="button" class="btn btn-icon" (click)="editModal(Template,branch);"
                  style="background-color: #00ACC1;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-pen"></i></button>
                &nbsp;
                <button type="button" class="btn btn-icon" (click)="DeleteAction(branch);"
                  style="background-color: red;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                  <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <ng-template #tpl>
    <div class="col-sm-12">
      <app-card [hidHeader]="true" cardClass="card-datatable" [options]="false">
        <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="inputAddress">ชื่อสาขา</label>
                <input type="text" autocomplete="off" class="form-control" name="validation-Branch_Name"
                  [ngClass]="{'is-invalid': !Branch_Name.valid && (Branch_Name.dirty || Branch_Name.touched || isSubmit)}"
                  #Branch_Name="ngModel" required [(ngModel)]="formInput.Branch_Name">
                <label *ngIf="!Branch_Name.valid && (Branch_Name.dirty || Branch_Name.touched || isSubmit)"
                  id="validation-Branch_Name-error"
                  class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกชื่อสาขา</label>
                <!-- <input type="text" class="form-control" autocomplete="off" id="inputBranch" [(ngModel)]="Branch_Name"
                  [ngModelOptions]="{standalone: true}"> -->
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="inputAddress">ที่อยู่</label>
                <input type="text" class="form-control" autocomplete="off" id="inputAddress" [(ngModel)]="Address"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="inputAddress">เวลาเปิด-ปิด</label>
                <div class="row">
                  <div class="col-3">
                    <input type="text" autocomplete="off" class="form-control" name="validation-Time_Open"
                      [ngClass]="{'is-invalid': !Time_Open.valid && (Time_Open.dirty || Time_Open.touched || isSubmit)}"
                      #Time_Open="ngModel" required [(ngModel)]="formInput.Time_Open" [textMask]="{mask: maskHour}"
                      placeholder="hh:mm" style="text-align: center;">
                    <label *ngIf="!Time_Open.valid && (Time_Open.dirty || Time_Open.touched || isSubmit)"
                      id="validation-Time_Open-error"
                      class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกเวลาเปิด</label>
                    <!-- <input [textMask]="{mask: maskHour}" type="text" class="form-control" placeholder="hh:mm"
                      [(ngModel)]="Time_Open" [ngModelOptions]="{standalone: true}" style="text-align: center;" /> -->
                  </div>
                  <div class="col-0">
                    <label for="inputAddress">-</label>
                  </div>
                  <div class="col-3">
                    <input type="text" autocomplete="off" class="form-control" name="validation-Time_Close"
                      [ngClass]="{'is-invalid': !Time_Close.valid && (Time_Close.dirty || Time_Close.touched || isSubmit)}"
                      #Time_Close="ngModel" required [(ngModel)]="formInput.Time_Close" [textMask]="{mask: maskHour}"
                      placeholder="hh:mm" style="text-align: center;">
                    <label *ngIf="!Time_Close.valid && (Time_Close.dirty || Time_Close.touched || isSubmit)"
                      id="validation-Time_Close-error"
                      class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกเวลาปิด</label>
                    <!-- <input [textMask]="{mask: maskHour}" type="text" class="form-control" placeholder="hh:mm"
                      [(ngModel)]="Time_Close" [ngModelOptions]="{standalone: true}" style="text-align: center;" /> -->
                  </div>
                  <div class="col-3" style="padding-top: 5px;">
                    <div class="checkbox checkbox-primary d-inline m-r-10">
                      <input type="checkbox" id="checkbox-p-1" [checked]="UOM_Active" name="chkActive"
                        (change)="UOM_Active = !UOM_Active">
                      <label for="checkbox-p-1" class="cr"></label>
                    </div>
                    <label>เปิดให้บริการ</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right" style="padding-top: 100px;">
            <hr width="100%">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>&nbsp; -->
            <button type="button" class="btn btn-primary" (click)="SaveBranch(validationForm)">บันทึก</button>
          </div>
        </form>
      </app-card>
    </div>
  </ng-template>
</div>

<ng-template #Template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มสาขา</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #validationForm="ngForm" class="editForm" novalidate>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">ชื่อสาขา</label>
            <input type="text" autocomplete="off" class="form-control" name="validation-Branch_Name"
              [ngClass]="{'is-invalid': !Branch_Name.valid && (Branch_Name.dirty || Branch_Name.touched || isSubmit)}"
              #Branch_Name="ngModel" required [(ngModel)]="formInput.Branch_Name">
            <label *ngIf="!Branch_Name.valid && (Branch_Name.dirty || Branch_Name.touched || isSubmit)"
              id="validation-Branch_Name-error"
              class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกชื่อสาขา</label>
            <!-- <input type="text" class="form-control" autocomplete="off" id="inputBranch" [(ngModel)]="Branch_Name"
                      [ngModelOptions]="{standalone: true}"> -->
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">ที่อยู่</label>
            <input type="text" class="form-control" autocomplete="off" id="inputAddress" [(ngModel)]="Address"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="inputAddress">เวลาเปิด-ปิด</label>
            <div class="row">
              <div class="col-3">
                <input type="text" autocomplete="off" class="form-control" name="validation-Time_Open"
                  [ngClass]="{'is-invalid': !Time_Open.valid && (Time_Open.dirty || Time_Open.touched || isSubmit)}"
                  #Time_Open="ngModel" required [(ngModel)]="formInput.Time_Open" [textMask]="{mask: maskHour}"
                  placeholder="hh:mm" style="text-align: center;">
                <label *ngIf="!Time_Open.valid && (Time_Open.dirty || Time_Open.touched || isSubmit)"
                  id="validation-Time_Open-error"
                  class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกเวลาเปิด</label>
                <!-- <input [textMask]="{mask: maskHour}" type="text" class="form-control" placeholder="hh:mm"
                          [(ngModel)]="Time_Open" [ngModelOptions]="{standalone: true}" style="text-align: center;" /> -->
              </div>
              <div class="col-0">
                <label for="inputAddress">-</label>
              </div>
              <div class="col-3">
                <input type="text" autocomplete="off" class="form-control" name="validation-Time_Close"
                  [ngClass]="{'is-invalid': !Time_Close.valid && (Time_Close.dirty || Time_Close.touched || isSubmit)}"
                  #Time_Close="ngModel" required [(ngModel)]="formInput.Time_Close" [textMask]="{mask: maskHour}"
                  placeholder="hh:mm" style="text-align: center;">
                <label *ngIf="!Time_Close.valid && (Time_Close.dirty || Time_Close.touched || isSubmit)"
                  id="validation-Time_Close-error"
                  class="error jquery-validation-error small form-text invalid-feedback">กรุณากรอกเวลาปิด</label>
                <!-- <input [textMask]="{mask: maskHour}" type="text" class="form-control" placeholder="hh:mm"
                          [(ngModel)]="Time_Close" [ngModelOptions]="{standalone: true}" style="text-align: center;" /> -->
              </div>
              <div class="col-3" style="padding-top: 5px;">
                <div class="checkbox checkbox-primary d-inline m-r-10">
                  <input type="checkbox" id="checkbox-p-1" [checked]="UOM_Active" name="chkActive"
                    (change)="UOM_Active = !UOM_Active">
                  <label for="checkbox-p-1" class="cr"></label>
                </div>
                <label>เปิดให้บริการ</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right" style="padding-top: 100px;">
        <hr width="100%">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>&nbsp; -->
        <button type="button" class="btn btn-primary" (click)="SaveBranch(validationForm)">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">แก้ไขข้อมูลหน่วยนับ</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="UOM_Name"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <div *ngIf="UOM_Active_ID==1;else tpl1">
              <button type="button" class="btn btn-success" data-toggle="modal"
                (click)="modalRef.hide();addUOMTModal(TemplateTransfer);">แปลงหน่วยนับ</button>
            </div>
            <ng-template #tpl1>
              <button type="button" class="btn btn-dark" disabled>แปลงหน่วยนับ</button>
            </ng-template>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="switch switch-primary d-inline m-r-10">
            <input type="checkbox" id="switch-p-1">
            <label for="switch-p-1" class="cr"></label>
          </div>
          <label>เปิดใช้งาน</label>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="UpdateUOM();modalRef.hide()">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateTransfer>
  <div class="modal-header">
    <h4 class="modal-title pull-left">แปลงหน่วยนับ</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ 1</label>
            <select id="inputState" class="form-control" [(ngModel)]="UOMID_1" [ngModelOptions]="{standalone: true}">
              <option selected></option>
              <option *ngFor="let result of ddlUOMs" [value]="result.uom_id"
                [selected]="UOMID_1 == result.uom_id ? 'selected' :'' ">
                {{result.uom_name}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">จำนวน</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Quantity_1"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">หน่วยนับ 2</label>
            <select id="inputState1" class="form-control" [(ngModel)]="UOMID_2" [ngModelOptions]="{standalone: true}">
              <option selected></option>
              <option *ngFor="let result1 of ddlUOMs" [value]="result1.uom_id">
                {{result1.uom_name}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputAddress">จำนวน</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Quantity_2"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalRef.hide()">ยกเลิก</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="SaveUOMT();modalRef.hide()">บันทึก</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateViewUOMT>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เทียบปริมาตรต่อ 1 {{UOM_Name}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <button type="button" class="btn btn-success" data-toggle="modal"
              (click)="modalRef.hide();addUOMTModal(TemplateTransfer);">เพิ่มข้อมูล</button>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <div class="table-responsive">
              <table *ngIf="uomts" datatable="ng" datatable [dtOptionsUOMT]="dtOptionsUOMT" [dtTrigger]="dtTrigger"
                class="table table-striped table-bordered table-hover" style="width: 99%;">
                <thead>
                  <tr>
                    <th style="width: 40%;">หน่วยนับ</th>
                    <th style="width: 40%;">จำนวน</th>
                    <th style="width: 20%;"></th>
                  </tr>
                </thead>
                <tbody *ngIf="uomts?.length != 0">
                  <tr *ngFor="let uomt of uomts">
                    <td class="text-center">{{ uomt.name2 }}</td>
                    <td class="text-center">{{ uomt.quantity2 }}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-icon"
                        (click)="modalRef.hide();editUOMTModal(TemplateTransfer,uomt);"
                        style="background-color: #00ACC1;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                        <i class="fa fa-pen"></i></button>
                      &nbsp;
                      <button type="button" class="btn btn-icon"
                        (click)="modalRef.hide();deleteModal1(TemplateDelete1,uomt);"
                        style="background-color: red;color: white;padding: 2px 5px 2px 5px;font-size: 12px;">
                        <i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</ng-template>

<ng-template #TemplateDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    ต้องการลบข้อมูลหน่วยนับหรือไม่?
    <div style="margin-top:25px">
      <button type="button" class="btn btn-default" (click)="DeleteUOM()" (mouseover)="btnColor()"
        id="btn-yes">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" (mouseover)="btnColorNo()"
        id="btn-no">No</button>
    </div>
  </div>
</ng-template>

<ng-template #TemplateDelete1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    ต้องการลบข้อมูลแปลงหน่วยนับหรือไม่?
    <div style="margin-top:25px">
      <button type="button" class="btn btn-default" (click)="DeleteUOMT()" (mouseover)="btnColor()"
        id="btn-yes">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" (mouseover)="btnColorNo()"
        id="btn-no">No</button>
    </div>
  </div>
</ng-template>